{% extends 'base.html' %}
{% load static %}
{% block title %}Autentificare{% endblock %}
{% block content %}
    {% include "navbar.html" %}
    <div class="container-fluid col-md-6" style="padding-top: 150px">
        <div class="row">
            <div class="col-md-6 offset-md-3 gy-5">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Autentificare</h3>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="card-body">

                            {{ form.as_p }}
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-outline-success">Autentifică</button>
                            <a href="#" class="btn btn-outline-danger">Ai uitat parola?</a>
                            <a href="{% url 'register_user' %}" class="btn btn-outline-warning">Crează cont! </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}