{% extends 'base.html' %}
{% block content %}
    {% include 'navbar.html' %}
    <div class="container-fluid col-md-6 my-5" style="padding-top:80px">
        <ul class="list-group list-group-flush p-3 rounded shadow-sm bg-light">
            <li class="list-group-item"><strong>Echipa curentă: {{ chosen_team.team}}</strong> </li>
        </ul>
        <form method="post" class="form-group bg-light p-4 rounded shadow-sm mt-4">
            {% csrf_token %}
            <label for="team" class="font-weight-bold">Alege echipa cu care vrei să joci!:</label>
            <select name="team_id" id="team" class="form-control mt-2 mb-4">
                {% for team in teams %}
                    <option value="{{ team.id }}">{{ team.name }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary w-100">Alege echipa!</button>
        </form>
    </div>

    {% if error %}
        <p class="text-danger text-center font-weight-bold mt-3">{{ error }}</p>
    {% endif %}
{% endblock %}
