{% extends 'base.html' %}
{% block content %}
    {% include 'navbar.html' %}
    <div class="container-fluid col-md-8 my-5" style="padding-top: 80px;">
        <form method="post" class="form-group bg-light p-4 rounded shadow-sm mt-4">
            {% csrf_token %}
            <div class="form-group">
                {{ form.attackers.errors }}
                <label class="font-weight-bold col-md-6">{{ form.attacker_1.label }}</label>
                {{ form.attacker_1 }}
                 <label class="font-weight-bold col-md-6">{{ form.attacker_2.label }}</label>
                {{ form.attacker_2 }}
            </div>
            <div class="form-group mt-3">
                {{ form.midfielders.errors }}
               <label class="font-weight-bold col-md-6">{{ form.midfielder.label }}</label>
                {{ form.midfielder }}
                 <label class="font-weight-bold col-md-6">{{ form.midfielder_2.label }}</label>
                {{ form.midfielder_2 }}
                <label class="font-weight-bold col-md-6">{{ form.midfielder_3.label }}</label>
                {{ form.midfielder_3 }}
                <label class="font-weight-bold col-md-6">{{ form.midfielder_4.label }}</label>
                {{ form.midfielder_4 }}
            </div>
            <div class="form-group mt-3">
                {{ form.defenders.errors }}
               <label class="font-weight-bold col-md-6">{{ form.defender.label }}</label>
                {{ form.defender }}
                 <label class="font-weight-bold col-md-6">{{ form.defender_2.label }}</label>
                {{ form.defender_2 }}
                 <label class="font-weight-bold col-md-6">{{ form.defender_3.label }}</label>
                {{ form.defender_3 }}
                 <label class="font-weight-bold col-md-6">{{ form.defender_4.label }}</label>
                {{ form.defender_4 }}
            </div>
            <div class="form-group mt-3">
                {{ form.goalkeeper.errors }}
                <label class="font-weight-bold col-md-6">{{ form.goalkeeper.label }}</label>
                {{ form.goalkeeper }}
            </div>
            <button type="submit" class="btn btn-primary w-100 mt-4">Salvează</button>
        </form>
        {% if form.errors %}
            <div class="alert alert-danger mt-3">
                <ul class="mb-0">
                    <li>{{ form.errors }}</li>
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}

